@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3>@Model.Message</h3>
<p>Here you can find additional informations about us where we are, what we do and how we do it</p>
<img style="float: unset; margin:-90px 80px 50px 0px;" src="~/images/img4.png" width="550" height="550">

