@page
@model TestProjekt.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
<h2>Log Out</h2>

<h4>Are you sure you want to log out ?</h4>
<hr />
<img style="float: right; margin:-60px 80px 50px 0px;" src="~/images/img5.png" width="550" height="550">
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input type="submit" value="Log Out" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
